body {
    background: linear-gradient(to right, #cc08cf, #480c79);
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Poppins";
}

.navbar-nav .nav-link {
    color: #d35400;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f39c12;
}

#comments-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.comment {
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.comment strong {
    font-size: 1.2em;
}

.likes {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #FFD700;
}

.like-icon {
    margin-right: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 0.9em;
}
