@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Varela+Round&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
    line-height: 1.6;
    background-color: #480c79;
    background-image: url(../assets/images/shopmart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    color: #d35400;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f39c12;
}

.brand-name {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
}

.footer {
    background-color: #480c79 !important;
    color: #fff;
    padding: 40px 0;
    text-align: center; 
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
}

.footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

a.link.text-reset{
    text-decoration: none;
    color: #fff !important;
}

a.link.text-reset:hover{
    color: #f39c12 !important;
}

.footer .btn-outline {
    border: 1px solid #f39c12;
    color: #fff;
}

.footer .btn-outline:hover {
    background-color: #f39c12;
    color: #fff;
}

.footer .form-outline input {
    border: 1px solid #fff;
}

.footer .form-outline input:focus {
    border-color: #f39c12;
    box-shadow: 0 0 5px rgba(243, 156, 18, 0.5);
}

.footer .btn-outline.mb-4 {
    background-color: #f39c12;
    color: #fff;
    border: none;
}

.footer .btn-outline.mb-4:hover {
    background-color: #d35400;
}


@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    background-size: cover;
}

.landing-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: fadeIn 2s;
}

.landing-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    animation: fadeIn 2.5s;
}

.landing-content .btn {
    padding: 10px 20px;
    background-color: #d35400;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    animation: fadeIn 3s;
}

.landing-content .btn:hover {
    background-color: #f39c12;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
