@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins";
    background: linear-gradient(to right, #cc08cf, #480c79);
    min-height: 100vh;
    margin: 0;
}

.myImages{
    height: 250px;
}

.fa-cart-shopping{
    cursor: pointer;
}

.cart-trash-btn{
    cursor: pointer;
}

.cart-overlay {
  right: 0;
  z-index: 1;
}

.cart-overlay.show {
  display: block;
}

.navbar-container {
    background-color: #fff;
    border-style: solid;
}

.logo{
    color: #480c79;
    font-weight: bold;
}

.btn-element {
    background-color: #480c79 !important;
    border: none !important; 
}

.btn-element:hover {
    background-color: #f39c12 !important;
    transition: background-color 0.3s !important;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .cart-icon {
      position: absolute;
      top: 0;
      right: 13px;
      transform: translateY(50%);
      z-index: 10;
    }
    
    .cart-icon i {
      font-size: 1.5rem;
    }

    .cart-icon .cart-count {
      position: absolute;
      top: 0;
      right: -5px;
      font-size: 0.8rem;
    }
  }